html{
  85%;
}
body{
  background-color: #ff9999;
  opacity: .8;
  color: #00ffcc;
}

.btn {
  font-size: 3rem;
  display: flex;
  float: left;
  width: auto;
  border: 2px solid black;
  padding: .3rem;
  background-color: ##00ffcc;
  color: white;
}
.equal {
  font-size: 3rem;
  display: flex;
  float: left;
  width: auto;
  padding: .3rem;
  margin-left: 2rem;
  color: #99ff99;
  opacity: 1;
}

#output{
  font-size: 3rem;
  display: flex;
  float: left;
  width: auto;
  border: 2px solid black;
  padding: .3rem;
  margin-left: 2rem;
  background-color: #666666;
  display: none;
}
#outSub{
  font-size: 3rem;
  display: flex;
  float: left;
  width: auto;
  border: 2px solid black;
  padding: .3rem;
  margin-left: 2rem;
  background-color: #666666;
  display: none;
}
#outMul{
  font-size: 3rem;
  display: flex;
  float: left;
  width: auto;
  border: 2px solid black;
  padding: .3rem;
  margin-left: 2rem;
  background-color: #666666;
  display: none;
}

#outDvi{
  font-size: 3rem;
  display: flex;
  float: left;
  width: auto;
  border: 2px solid black;
  padding: .3rem;
  margin-left: 2rem;
  background-color: #666666;
  display: none;
}
#outBmi{
  font-size: 3rem;
  display: flex;
  float: left;
  width: auto;
  border: 2px solid black;
  padding: .3rem;
  margin-left: 2rem;
  background-color: #666666;
  display: none;
}
#weight{
  display: none;
}
#h{
  display: none;
}

#outTemp{
  font-size: 3rem;
  display: flex;
  float: left;
  width: auto;
  border: 2px solid black;
  padding: .3rem;
  margin-left: 2rem;
  background-color: #666666;
  display: none;
}
#outGal{
  font-size: 3rem;
  display: flex;
  float: left;
  width: auto;
  border: 2px solid black;
  padding: .3rem;
  margin-left: 2rem;
  background-color: #666666;
  display: none;
}
#f {
  display: none;
}

#add2 {
  visibility: visible;
}
#add3{
  visibility: visible;
}
#g{
  display: none;
}

#color {
  height: 300px;
}
.move{
  font-size: 45px;
}
